body{
  background-color: #03d1aa;
  margin:0;
}
ul.navbar{
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #856fc7;
}
li.navbar a{
  display: block;
  text-decoration: none;
  padding: 10px 60px;
  color: #f1f081;
}
li.navbar a:hover{
  background-color: #ee3768;
}
li.navbar{
  display: inline;
  float: left;
  font: 20px verdana; 
}
div.navbar{
  position: sticky;
}
h1{
  color: #f1f081;
  font: 36px verdana;
  text-align: center;
}